name: Terraform Deploy to AWS

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      action:
        description: 'Kies build of destroy'
        required: true
        default: 'build'
        type: choice
        options:
          - build
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: eu-central-1
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.PIETER_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.PIETER_AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Terraform Init
        run: terraform init -input=false -upgrade

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -out=tfplan -input=false

      - name: Terraform Apply / Destroy
        run: |
          if [ "${{ github.event.inputs.action }}" == "build" ]; then
            terraform apply -auto-approve tfplan
          else
            terraform destroy -auto-approve
          fi
